.topbar {
	background: #ededed; // light grey
	float: left;
	font-size: 12px;
	line-height: 1;
	margin-bottom: 20px;
	width: 100%;
}

.topbar ul {
	background: #ededed; // light grey
	list-style: none;
	margin: 0;
	padding: 0;
}

.topbar-menu li {
	border-left: 1px solid #c6c6c6; // grey
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

.topbar-menu li:first-child {
	border-left: 0 none;
}

.topbar-menu a,
.topbar-menu h3 {
	display: block;
	font-size: 12px;
	font-weight: normal;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	margin: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}

.dropdown-holder {
	position: relative;
}
.dropdown-holder:hover {
	background: #d9d9d9; // hover grey
}
.dropdown-holder:hover .dropdown {
	display: block;
}

.dropdown {
	background: #d9d9d9; // hover grey
	position: absolute;
	display: none;
}

.dropdown li {
	border-left: 0 none;
	border-top: 1px solid #c6c6c6; // grey
	clear: both;
	line-height: 1;
}

.dropdown li:first-child {
	border-top: 0 none;
}
