.zone-news .zone-border {
	border-color: @colorZoneNews;
}
.zone-sport .zone-border {
	border-color: @colorZoneSport;
}
.zone-comment .zone-border {
	border-color: @colorZoneComment;
}
.zone-culture .zone-border {
	border-color: @colorZoneCulture;
}
.zone-business .zone-border {
	border-color: @colorZoneBusiness;
}
.zone-money .zone-border {
	border-color: @colorZoneMoney;
}
.zone-lifestyle .zone-border {
	border-color: @colorZoneLifestyle;
}