// Vertical rhythm based on 5px.
// Line heights and all vertical padding and margins are all factors of 5px.

body {
	color: #333; // text dark grey
	background-color: #FFF;
	font-size: 12px;
	line-height: 15px;
	font-family: arial, sans-serif;
}

p {
	margin: 0 0 5px;
}

.article-body {
	font-size: 14px;
	line-height: 20px;
}
.article-body p {
	margin-bottom: 15px;
}

blockquote {
	border-left: 10px solid #D3D3D3;
	margin: 1em 40px 1em 30px;
	padding-left: 10px;
}

figcaption {
	color: #666;
}

dt {
	font-weight: bold;
}

small {
    font-size: 11px;
    line-height: 14px;
}
