// I've vaguely implemented a vertical rhythm based on 5px.
// Line heights and all vertical padding and margins are all factors of 5px.

body {
	color: #333; // text dark grey
	font-size: 12px;
	line-height: 15px;
	font-family: arial, sans-serif;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

.article-body p {
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}


/*
	Links
*/
a,
a:link,
a:visited {
	color: #005689; // blue
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
a:active {
	color: white;
	background-color: #005689; // blue
}

/*
	Headings
*/

.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: georgia, serif;
	font-weight: normal;
}

.h1 {
	font-size: 24px;
	line-height: 30px;
}
.h2 {
	font-size: 21px;
	line-height: 25px;
}
.h3 {
	font-size: 18px;
	line-height: 20px;
}
.h4 {
	font-size: 16px;
	line-height: 20px;
}
.h5 {
	font-size: 15px;
	line-height: 20px;
}
.h6 {
	font-size: 12px;
	line-height: 15px;
}

