/*! small version of normalize.css 2012-03-06T10:21 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

  max-width: 100%;
  /* By default all images shrink down to their parent container. */

}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
.wrap {
  width: 940px;
  margin: 0 auto;
}
.fluid-wrap {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.margin-top {
  margin-top: 10px;
}
.margin-bottom {
  margin-bottom: 10px;
}
.border-top {
  border-top: 1px solid #BEBEBE;
}
.border-bottom {
  border-bottom: 1px solid #BEBEBE;
}
.h {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}
[hidden] {
  display: none;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
html {
  font-size: 100%;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  /* 2 */

  -ms-text-size-adjust: 100%;
  /* 2 */

}
body {
  color: #333;
  background-color: #FFF;
  font-size: 12px;
  line-height: 15px;
  font-family: arial, sans-serif;
  margin: 0;
}
p,
pre,
dd,
dl,
menu,
ul,
ol {
  margin: 0 0 10px;
}
.article-body p,
.article-body li,
.article-body dl {
  font-size: 14px;
  line-height: 20px;
}
.article-body p {
  margin-bottom: 15px;
}
blockquote {
  border-left: 10px solid #D3D3D3;
  margin: 1em 40px 1em 30px;
  padding-left: 10px;
}
figcaption {
  color: #666;
}
small {
  font-size: 11px;
  line-height: 14px;
}
html,
button,
input,
select,
textarea {
  font-family: arial, sans-serif;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
figure {
  margin: 0;
}
.standfirst {
  font-size: 16px;
  line-height: 20px;
  color: #666;
}
.caption {
  color: #666;
}
.dotted-border {
  border-top: 1px dotted #666;
  padding-top: 2px;
}
/*
	Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: georgia, serif;
  margin: 0;
}
h1,
.article-heading {
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}
h2,
.sub-heading {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
h3,
.related-heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
h4,
.trailblock-heading {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
h5,
.article-base-heading {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-family: arial, sans-serif;
}
h6,
.base-heading {
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  font-family: arial, sans-serif;
}
.hd {
  background-color: #ededed;
  padding: 4px 5px 14px;
  margin-bottom: 10px;
  clear: both;
}
.hd .sub-heading {
  line-height: 20px;
}
h1 abbr,
h2 abbr,
h3 abbr,
h4 abbr,
h5 abbr,
h6 abbr {
  border: none !important;
}
a,
a:link,
a:visited {
  color: #005689;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: #005689;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
form {
  margin: 0;
}
legend {
  border: 0;
  /* 1 */

  padding: 0;
  white-space: normal;
  /* 2 */

  *margin-left: -7px;
  /* 3 */

}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

  *vertical-align: middle;
  /* 3 */

}
button,
input {
  line-height: normal;
  /* 1 */

}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

  -moz-appearance: button;
  /* 2 */

  *overflow: visible;
  /* 3 */

}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

  *height: 13px;
  /* 3 */

  *width: 13px;
  /* 3 */

}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.inline-message {
  display: inline-block;
  padding: 0.4em 5px;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-style: normal;
}
.error {
  background-color: #F7D2CC;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="url"],
input[type="search"],
textarea {
  border: 1px solid #999;
  min-height: 14px;
  padding: 0.4em 5px 0.4em 5px;
}
input[type="checkbox"] {
  margin-bottom: 1em;
}
select {
  padding: 1px;
}
input[type="submit"],
button {
  padding: 1px 0;
}
button,
.button {
  background-color: #0061A6;
  color: white;
  display: inline-block;
  height: 2.4em;
  line-height: 2.4em;
  border: none;
  outline: none;
  padding: 0 7px;
}
/* Form layout */
.field {
  margin-bottom: 15px;
  clear: both;
}
.field-label {
  display: block;
  float: left;
  width: 25%;
  margin: 0.4em 0 0 0;
}
.field-inputs {
  width: 70%;
  margin-left: 30%;
}
.field-inputs label {
  display: block;
  margin: 0.4em;
}
.field-inputs input[type="email"],
.field-inputs input[type="password"],
.field-inputs input[type="text"],
.field-inputs input[type="url"],
.field-inputs input[type="search"],
.field-inputs textarea {
  width: 45%;
}
.field-inputs .check,
.field-inputs .radio {
  margin-left: 18px;
}
.field-inputs .check input[type="checkbox"],
.field-inputs .radio input[type="radio"] {
  float: left;
  margin-left: -18px;
  margin-bottom: 0;
}
.field-inputs .inline-message {
  width: 45%;
}
.field-inputs input[type="button"],
.field-inputs input[type="submit"] {
  float: right;
}
/*
	Tables:
	https://sites.google.com/a/guardian.co.uk/bootstrap/-archive/table_specs090108.pdf?attredirects=0&d=1
*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #333;
}
/* Set stripey row backgrounds */
tr {
  background-color: #F5F5F5;
}
tbody tr:nth-child(even) {
  background-color: #EDEDED;
}
/* On tbody hover, remove any default highlight and reset stripey rows. */
tbody:hover tr {
  background-color: #F5F5F5;
}
tbody:hover tr:nth-child(even) {
  background-color: #EDEDED;
}
tbody:hover tr:hover,
tr.highlighted-row {
  background-color: #FFF3A5;
}
th {
  background-color: #D8D8D8;
  border-bottom: 1px solid #999;
  font-weight: bold;
  text-align: left;
}
th,
td {
  padding: 10px;
  border-right: 1px solid #B9B9B9;
}
th:last-child,
td:last-child {
  border-right: none;
}
table caption {
  background-color: #CCC;
  text-align: left;
  padding: 10px 6px 20px 6px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #0061A6;
}
tfoot tr {
  background-color: F5F5F5;
  border-top: 1px dotted #999;
  font-size: 11px;
  line-height: 14px;
}
table.condensed th,
table.condensed td {
  padding-top: 5px;
  padding-bottom: 5px;
}
dt {
  font-weight: bold;
}
menu,
ol,
ul {
  padding: 0;
  margin-left: 25px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
ol.unstyled,
ul.unstyled {
  margin-left: 0;
  list-style: none;
}
.inline {
  margin-left: 0;
}
.inline li,
.inline li {
  display: inline;
}
.inline.with-separators li:after {
  content: " | ";
}
.inline.with-separators li:last-child:after {
  content: none;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 150px;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 160px;
}
.topbar {
  background: #ededed;
  float: left;
  font-size: 12px;
  margin-bottom: 20px;
  width: 100%;
}
.topbar ul {
  background: #ededed;
  list-style: none;
  margin: 0;
  padding: 0;
}
.topbar li {
  border-left: 1px solid #c6c6c6;
  float: left;
  list-style: none;
}
.topbar li:first-child {
  border-left: 0 none;
}
.topbar a {
  display: block;
  margin: 0;
  padding: 8px 10px 7px 10px;
  text-decoration: none;
  cursor: pointer;
}
.topbar a:hover,
.topbar a:focus,
.topbar .dropdown-holder:hover,
.topbar .dropdown-holder:focus {
  background: #d9d9d9;
}
.dropdown-holder {
  position: relative;
}
.dropdown {
  position: absolute;
  left: -1px;
  display: none;
}
.dropdown li {
  border-left: 0 none;
  border-top: 1px solid #c6c6c6;
  clear: both;
  width: 100%;
}
.dropdown a {
  background: #d9d9d9;
  padding: 4px 10px 3px 10px;
  white-space: nowrap;
}
.dropdown a:hover {
  background: #C6C6C6;
  white-space: nowrap;
}
.dropdown li:first-child {
  border-top: 0 none;
}
.dropdown-holder:hover .dropdown,
.dropdown-holder a:focus + .dropdown,
.dropdown:focus {
  display: block;
}
.dropdown.align-right {
  left: auto;
  right: -1px;
}
li:first-child .dropdown.left-align {
  left: 0;
}
li:last-child .dropdown.align-right {
  right: 0;
}
@media screen and (max-width: 600px) {
  .topbar ul {
    float: none;
    border: none;
  }
  .topbar li {
    float: none;
    border: none;
    border-bottom: 1px solid #c6c6c6;
  }
  .dropdown {
    position: static;
    width: 100%;
  }
}
.topbar-show {
  display: block;
}
.section-pulldown {
  margin-top: 5px;
}
.site-search {
  margin-top: 7px;
}
.site-search [name="section"] {
  padding: 3px 0;
}
.site-search [type="submit"] {
  padding: 3px 0;
}
.nav-sections {
  float: left;
  clear: both;
  font-family: Georgia;
  font-size: 16px;
  margin: 15px 0 0 0;
  padding: 0;
  width: 100%;
}
.nav-sections li {
  border-left: 1px solid #c6c6c6;
  float: left;
}
.nav-sections li:first-child {
  border: 0 none;
}
.nav-sections a {
  display: block;
  line-height: 24px;
  padding: 0 5px;
  text-decoration: none;
  color: #333;
}
.nav-sections a:hover,
.nav-sections a:focus,
.nav-sections a:active {
  color: #FFF;
  background-color: #333;
}
/*
	Factbox:
	https://sites.google.com/a/guardian.co.uk/bootstrap/-archive/factboxes.pdf?attredirects=0&d=1
*/
.factbox {
  background-color: #F3F3F3;
  padding: 5px;
}
.factbox-heading {
  font-family: arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: bold;
  margin-bottom: 0;
}
.factbox-image {
  margin: 10px -5px;
}
.footer {
  font-size: 11px;
  line-height: 14px;
  margin: 15px 0;
  padding-top: 5px;
  clear: both;
}
.footer p,
.footer ul,
.footer ol,
.footer menu,
.footer dl {
  margin: 2px 0 2px 0;
}
.zone-border {
  border-top: 1px solid #0061A6;
  padding-top: 2px;
}
.zone-border-medium {
  border-top-width: 3px;
}
.zone-border-large {
  border-top-width: 10px;
  padding-top: 5px;
}
.zone-color {
  color: #0061A6;
}
.zone-background {
  background-color: #0061A6;
}
.zone-news .zone-border {
  border-color: #D61D00;
}
.zone-sport .zone-border {
  border-color: green;
}
.zone-comment .zone-border {
  border-color: #0061A6;
}
.zone-culture .zone-border {
  border-color: #D1008B;
}
.zone-business .zone-border {
  border-color: #3246AB;
}
.zone-money .zone-border {
  border-color: #8F1AB6;
}
.zone-life-and-style .zone-border {
  border-color: #AD532F;
}
.zone-travel .zone-border {
  border-color: #066EC9;
}
.zone-environment .zone-border {
  border-color: #4A7801;
}
/*
	Show the current zone background color.
*/
.zone-news .zone-color {
  color: #D61D00;
}
.zone-sport .zone-color {
  color: #008000;
}
.zone-comment .zone-color {
  color: #0061A6;
}
.zone-culture .zone-color {
  color: #D1008B;
}
.zone-business .zone-color {
  color: #3246AB;
}
.zone-money .zone-color {
  color: #8F1AB6;
}
.zone-life-and-style .zone-color {
  color: #AD532F;
}
.zone-travel .zone-color {
  color: #066EC9;
}
.zone-environment .zone-color {
  color: #4A7801;
}
/*
	Show the current zone background color.
*/
.zone-news .zone-background,
.zone-news .zone-background-hover:hover,
.zone-news .zone-background-hover:focus,
.zone-news .zone-background-hover:active {
  background-color: #D61D00;
}
.zone-sport .zone-background,
.zone-sport .zone-background-hover:hover,
.zone-sport .zone-background-hover:focus,
.zone-sport .zone-background-hover:active {
  background-color: #008000;
}
.zone-comment .zone-background,
.zone-comment .zone-background-hover:hover,
.zone-comment .zone-background-hover:focus,
.zone-comment .zone-background-hover:active {
  background-color: #0061A6;
}
.zone-culture .zone-background,
.zone-culture .zone-background-hover:hover,
.zone-culture .zone-background-hover:focus,
.zone-culture .zone-background-hover:active {
  background-color: #D1008B;
}
.zone-business .zone-background,
.zone-business .zone-background-hover:hover,
.zone-business .zone-background-hover:focus,
.zone-business .zone-background-hover:active {
  background-color: #3246AB;
}
.zone-money .zone-background,
.zone-money .zone-background-hover:hover,
.zone-money .zone-background-hover:focus,
.zone-money .zone-background-hover:active {
  background-color: #8F1AB6;
}
.zone-life-and-style .zone-background,
.zone-life-and-style .zone-background-hover:hover,
.zone-life-and-style .zone-background-hover:focus,
.zone-life-and-style .zone-background-hover:active {
  background-color: #AD532F;
}
.zone-travel .zone-background,
.zone-travel .zone-background-hover:hover,
.zone-travel .zone-background-hover:focus,
.zone-travel .zone-background-hover:active {
  background-color: #066EC9;
}
.zone-environment .zone-background,
.zone-environment .zone-background-hover:hover,
.zone-environment .zone-background-hover:focus,
.zone-environment .zone-background-hover:active {
  background-color: #4A7801;
}
