<div class="topbar">
	<h2 class="h">Tools</h2>
	<ul class="tools">
		<li class="dropdown-holder edition-switch">
			<h3>Edition: <span>UK</span></h3>
			<ul class="dropdown">
				<li><a href="#">US</a></li>
			</ul>
		</li>
		<li><a href="#">Sign in</a></li>
		<li><a href="#">Mobile</a></li>
		<li class="dropdown-holder">
			<h3>About us</h3>
			<ul class="dropdown">
				<li><a href="http://www.guardian.co.uk/information/0,,711853,00.html" class="link-text">About us</a></li>
				<li><a href="http://www.guardian.co.uk/gu_contacts/0,,180767,00.html" class="link-text">Contact us</a></li>
			</ul>
		</li>
	</ul>
	
	<h2 class="h">Quick navigation</h2>
	<ul class="quick-nav">
		<li class="dropdown-holder">
			<h3>Today's paper</h3>
			<ul class="dropdown">
				<li><a href="http://www.guardian.co.uk/information/0,,711853,00.html" class="link-text">About us</a></li>
				<li><a href="http://www.guardian.co.uk/gu_contacts/0,,180767,00.html" class="link-text">Contact us</a></li>
			</ul>
		</li>
		<li class="dropdown-holder">
			<h3>Subscribe</h3>
			<ul class="dropdown">
				<li><a href="http://www.guardian.co.uk/information/0,,711853,00.html" class="link-text">About us</a></li>
				<li><a href="http://www.guardian.co.uk/gu_contacts/0,,180767,00.html" class="link-text">Contact us</a></li>
			</ul>
		</li>
	</ul>
</div>